html{
	position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
body{    
	position: relative;
    display: block;
    width: 100%;
    height: 100%;
	margin:0;
	font-family: 'Merriweather Sans', sans-serif;
    background-color: #fff;
}
.mainAPP{
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    font-size: 0;
    border-collapse: collapse;
}
.mainContent{
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.app{
	position: relative;
	display: block;
	overflow: hidden;
	background-color: #fff;
	width: 100%;
	height: 100%;
    margin:0 auto;
	max-width: 1280px;
    min-height: 600px;
	max-height: 800px;
    /*box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.25);*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.appContent{
	position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}		
.dragComponent{
	position: absolute;
	display: inline-block;
}
.dragBarComponent{			
	position: relative;
	display: inline-block;
}
.progressRate{
	position: relative;
	display: inline-block;
	padding: 0px 5px;
	box-sizing: border-box;
	margin: 10px 0px;
	width: 100%;
}
.volumeRate{
	position: absolute;
    display: inline-flex;
    padding: 0px 5px;
    box-sizing: border-box;
    margin: 5px 0px;
    width: 100%;
    right: 25px;
    bottom: 60px;
    max-width: 160px;    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.volumeRate > .btn{
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;	
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	cursor: pointer;
	margin-right: 10px;
	background-image: url(../img/volume_up.svg);
	border-radius: 30px;
}
.volumeRate > .btn.mute{	
	background-image: url(../img/volume_off.svg);
}
.volumeRate .range{
	display: inline-block;
    flex: 1;
}
.progressRate .range{
	margin-bottom: 10px;
}
.range{
	position: relative;
	display: block;
	width: 100%;
	/*height: 10px;*/
	height: 0px;
	/*margin: 10px 0px;*/
	padding: 0px 0px;
	box-sizing: border-box;
	cursor: pointer;
}
.range .progress{			
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	border-radius: 2.5px;
	margin-top: -1px;
}
.range .progress:before{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 20px;
	border-radius: 2.5px;
	margin-top: -10px;
	top: 1px;
}
.range .progress .bg{			
	position: absolute;
	display: block;
	background-color: #DEDEDE;
	width: 100%;
	height: 100%;
}
.range .progress .rate{			
	position: absolute;
	display: block;
	background-color: #413D3D;
	width: 0%;
	height: 100%;
}		
.range .drag_btn{
	position: absolute;
	display: block;
	width: 0px;
	height: 0px;
	top: 1px;
}
.range .btn{
	position: relative;
	display: block;
	width: 10px;
	height: 10px;
	background-color: #413D3D;
	border-radius: 5px;
	margin-left: -5px;
	margin-top: -5px;
}
/*.titlePage{
	position: relative;
	display: block;
	width: 100%;
	height: 400px;
}*/
.content{
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0px;
	background-color: #fff;
	padding: 0px 25px;
	box-sizing: border-box;
}
.content:before{
	content:"";
	position: absolute;
	display: block;
	width: 100%;
	height: 40px;
	bottom: 100%;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0),#fff);
	background-image: linear-gradient(rgba(255, 255, 255, 0),#fff);
	left: 0%;
	margin-bottom: -1px;
}
.page{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}
.album{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	/*background-image: url(../img/8C9Evy.png);*/
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	transition: background-image .3s;
}		
.title{
	position: relative;
	display: inline-block;
    text-align: center;
    padding: 0px 0px;
    margin-bottom: 20px;
	width: 100%;
}
.title .btn{
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;	
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;		
	top: 50%;
	left: 0px;
	margin-top: -15px;
	cursor: pointer;
}		
.title #btn_list{
	background-image: url(../img/btn_list.svg);	
}
.title .text{			
    color: #413D3D;
}
#song{
	font-size: 22px;
	font-weight: bold;
	line-height: 30px;
}
#singer{
	font-size: 16px;
	line-height: 24px;
}
.time{
	position: relative;
	display: inline-block;
	font-size: 10px;
	color: #AEAEAE;
	height: 15px;
	width: 100%;
}
.time .text{			
	position: absolute;
	display: inline-block;
	height: 15px;
}
#currentTime{
	left: 0%;
}
#totalTime{
	right: 0%;
}
.control{
	position: relative;
    display: inline-block;
    height: 80px;
    text-align: center;
    line-height: 80px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.control > .btn{
	position: relative;
	display: inline-block;
	width: 45px;
	height: 45px;
	border-radius: 45px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition: background-image .3s;
	cursor: pointer;
    margin: 0px 5px;
}
.control #btn_shufflePlayback{
	background-image: url(../img/btn_shufflePlayback.svg);
}
.control #btn_shufflePlayback.active{
	background-image: url(../img/btn_shufflePlaybackActive.svg);
}
.control #btn_rewind{
	background-image: url(../img/btn_rewind.svg);
}
.control #btn_play{
	background-image: url(../img/btn_play.svg);
	width: 70px;
	height: 70px;
	border-radius: 70px;
}
.control #btn_play.playing{			
	background-image: url(../img/btn_pause.svg);
}
.control #btn_fast{
	background-image: url(../img/btn_fast.svg);
}
.control #btn_repeat{
	background-image: url(../img/btn_repeat.svg);
}
.control #btn_repeat.all{
	background-image: url(../img/btn_repeatAll.svg);
}
.control #btn_repeat.one{
	background-image: url(../img/btn_repeatOne.svg);
}
#playList{
	max-width: 400px;
    border-right: 1px solid #dedede;
}
#playList .album{
	background-position: center top;
}
#playList .content{
	top: 100px;
	background-color: rgba(255, 255, 255, 0.8);   
	padding: 0px;
}
#playList .content:before{
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0),#fff);
	background-image: linear-gradient(rgba(255, 255, 255, 0),#fff);
}
.list{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	overflow: auto; 
}
.item{
	position: relative;
	display: table;
	height: 70px;		
	padding: 0px 25px;
	/*padding-right: 95px;*/
	margin-bottom: 3px;
	width: 100%;
	box-sizing: border-box;
	background-color: #fff;	
}
.itemContent{
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
    padding: 0px 25px;
}
.itemContent:after{
	content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    left: 0;
    bottom: -2px;
}
.item .song{
	position: relative;
	display: block;
	color: #BBBBBB;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
}
.item .singer{
	position: relative;
	display: block;
	color: #DBDBDB;
	font-size: 14px;
	line-height: 18px;
}		
.item.active .song{
	color: #413D3D
}
.item.active .singer{
	color: #B2B2B2
}

.item .right{
	position: absolute;
	display: block;
	height: 70px;
	width: 70px;
	right: 25px;
	padding: 10px;
	box-sizing: border-box;
}
.item .btn{			
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition: background-image .3s;
	background-image: url(../img/btn_small_play.svg);
	border-radius: 70px;
	cursor: pointer;
}
.item .btn.playing{			
	background-image: url(../img/btn_small_pause.svg);
}
.titleTop{
	position: relative;
	display: block;
	margin-top: 20px;
}
.titleTop .text{
	position: relative;
	display: block;
	font-size: 28px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25),0px 0px 20px rgba(0, 0, 0, 0.5);
}
.titleTop .btn{
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;	
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;		
	top: 0px;
	left: 5px;
	cursor: pointer;
}
.titleTop #btn_back{
	background-image: url(../img/btn_back.svg);	
}

.box{
	position: absolute;
	display: block;
    width: 100%;
    height: calc(100vh - 100%);
    min-height: calc(600px - 213px);
    max-height: calc(800px - 100%);
    bottom: 100%;
    left: 0px;
    padding: 80px 25px 80px;
    box-sizing: border-box;
    visibility: hidden;
}
.boxframe{	
	position: relative;
	display: block;
    width: 100%;
    height: 100%;
    border: 10px solid #fff;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.25));
    box-sizing: border-box;
    max-width: 400px;
    margin: 0 auto;
}
.advertise{
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	left: 0px;
	top: 0px;
}
.advertiseContent{
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.advertiseMain{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	max-width: 350px;
	max-height: 500px;
	padding-bottom: 40px;
	box-sizing: border-box;
}
.advertiseMainBox{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 0px 0px 30px 30px;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.advertiseContent .text{	
    position: absolute;
    display: block;
    height: 40px;
    line-height: 40px;
    bottom: 0px;
    width: 100%;
    color: #fff;
    text-decoration: underline;
	cursor: pointer;
	font-size: 16px;
}
.advertiseMainBoxContent{
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0px;
	background-color: #fff;
	border-radius: 0px 0px 30px 30px;
	padding: 25px 5px;
	box-sizing: border-box;
}
.advertiseMainBoxContent .song{
	position: relative;
	display: block;
	color: #413D3D;
	font-weight: bold;
	font-size: 22px;
	line-height: 28px;
}
.advertiseMainBoxContent .singer{	
	position: relative;
	display: block;
	color: #413D3D;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 20px;
}
.advertiseMainBoxContent .btn{
	position: relative;
	display: inline-block;
	background-color: #413D3D;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	border-radius: 25px;
	width: 100%;
	max-width: 160px;
	padding: 20px;
	box-sizing: border-box;
	cursor: pointer;
}

/*過度*/
.playList-enter-active {
    transition: opacity .5s,transform .5s;
}
.playList-leave-active {
    transition: opacity .5s,transform .5s;
}
.playList-enter, .playList-leave-to {
    opacity: 0;
    transform: translateX(-100%);
}
.advertise-enter-active {
    transition: opacity .5s;
}
.advertise-leave-active {
    transition: opacity .5s;
}
.advertise-enter, .advertise-leave-to {
    opacity: 0;
}
/*.wave{
	position: absolute;
	display: block;
	width: 100%;
	height: 60px;
	left: 0px;
	bottom: 0px;
}*/
.wave{
	position: absolute;
	display: block;
	width: 100%;
	height: 60px;
	left: 0px;
	top: -29px;
}

@media screen and (max-width: 600px){
	.album{
		background-position: center top;
	}
	.title{
		text-align: left;
	}
	.control{
		display: inline-flex;
	}
	.control > .btn{
	    margin: 0px;
	}
	.title .btn{
		left: auto;
		right: 0px;
	}
	.box{
		visibility: initial;
	}
	#playList{
		max-width: none;
	    border-right: 0;
	}
	.volumeRate{
	    right: auto;
	    bottom: auto;
	    max-width: none;
		position: relative;
	}
}